infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/terraform.tfvars
infrastructure/.terraform/plugins/selections.json
infrastructure/.terraform/plugins/registry.terraform.io/hashicorp/azurerm/2.25.0/darwin_amd64/terraform-provider-azurerm_v2.25.0_x5
infrastructure/.terraform/plugins/registry.terraform.io/hashicorp/random/3.0.0/darwin_amd64/terraform-provider-random_v3.0.0_x5
